@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  transform: translate3d(0, -32px, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes dash {
	0% {
	    stroke-dasharray: 330;
	    stroke-dashoffset: 40;
	}

	50% {
	    stroke-dasharray: 16;
	    stroke-dashoffset: 0;
	}
	100% {
	    stroke-dasharray: 330;
	    stroke-dashoffset: 40;
	}
}

.scene {
	.scene_element {
		  animation-duration: .5s;
			animation-fill-mode: both;
			animation-timing-function: linear;
      -webkit-animation-fill-mode: both; //fixes safari flicker
      animation-fill-mode: both; //fixes safari flicker
			&--fadeIn {
				  animation-name: fadeIn;
			}
      &--fadeInDown {
				animation-name: fadeInDown;
        animation-duration: .5s;
				animation-timing-function: $bezier;
			}
			&--fadeInDownDelay {
        animation-duration: .7s;
				animation-name: fadeInDown;
				animation-timing-function: $bezier;
			}
		}
		&.is-exiting {
			.scene_element {
				  animation-direction: alternate-reverse;
			}
		}
}
