@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translate3d(0, -32px, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes case {
  0% {
    transform: scaleY(0);
    transform-origin: top;

  }

  100% {
    transform: scaleY(1);
    transform-origin: top;

  }
}

@keyframes blog {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 330;
    stroke-dashoffset: 40;
  }

  50% {
    stroke-dasharray: 16;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 330;
    stroke-dashoffset: 40;
  }
}

.scene {
  .scene_element {
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: both;

    &--fadeIn {
      animation-name: fadeIn;
    }

    &--fadeInDown {
      animation-name: fadeInDown;
      animation-duration: .5s;
      animation-timing-function: $bezier;
    }

    &--fadeInDownDelay {
      animation-name: fadeInDown;
      animation-duration: .7s;
      animation-timing-function: $bezier;
    }

    &--case {
      animation-name: case;
      animation-duration: 1.5s;
      animation-timing-function: $bezier;
      animation-delay: .1s;
    }

    &--blog {
      animation-name: blog;
      animation-duration: 1s;
      animation-timing-function: $bezier;
    }
  }

  &.is-exiting {
    .scene_element {
      animation-direction: alternate-reverse;
    }
  }
}
