@keyframes fadeInZoom {
0% {
  opacity: 0;

}
100% {
  opacity: 1;

	}
}

@keyframes caseEnter {
0% {
  opacity: 0;
  transform: scale(0.88);
 }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  transform: translate3d(0, -32px, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeInDownDelay {
0% {
  opacity: 0;
  transform: translate3d(0, -32px, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scene {
	.scene_element {
		  animation-duration: .5s;
			animation-fill-mode: both;
			animation-timing-function: linear;
			&--fadeIn {
				  animation-name: fadeIn;
			}
			&--fadeInZoom {
				  animation-name: fadeInZoom;
			}
      &--caseEnter {
         animation-duration: 1s;
          animation-name: caseEnter;
          animation-timing-function: cubic-bezier(.03,.82,.34,.99);
      }
			&--fadeInDown {
				animation-name: fadeInDown;
			}
			&--fadeInDownDelay {
				animation-name: fadeInDownDelay;
				animation-timing-function: cubic-bezier(.03,.82,.34,.99);
			}
		}
		&.is-exiting {
			.scene_element {
				  animation-direction: alternate-reverse;
			}
		}
}

@keyframes dash {
	0% {
	    stroke-dasharray: 330;
	    stroke-dashoffset: 40;
	}

	50% {
	    stroke-dasharray: 16;
	    stroke-dashoffset: 0;
	}
	100% {
	    stroke-dasharray: 330;
	    stroke-dashoffset: 40;
	}
}
