
html, body {
	height: 100%;
}


code {
	font-family: monospace, serif;
	font-size: 1em;
	background: $gray;
	padding: 2px 6px;
	border-radius: 2px;
}

blockquote {
	border: 1px solid $gray;
	padding: 0 1rem;
}

footer {
	.row {
		padding: 3rem 0;
	}
	.icon {
		margin-right: 1rem;
	}
}

kbd {
	display: inline-block;
	margin: 0 2px;
	padding: 4px 12px;
	font-family: sans-serif;
	line-height: 1;
	color: #ffffff;
	background: linear-gradient(#323435, #252525);
	border: 1px solid #444444;
	border-radius: 2px;
	box-shadow: 1px 1px 4px rgba(46, 48, 49, 0.5), 0 0 0 1px #000 inset, 0px 2px 0 0 rgba(255,255,255,0.05) inset;
	white-space: nowrap;
	text-rendering: geometricPrecision;
	text-shadow: 0px 0px 6px rgba(168, 199, 251, 0.24);
}

hr {
	background-color: #ccc;
	height: 1px;
	border:0;
}

sup {
	font-size: 12px;
}

img {
	width: 100%;
	display: block;
}

* {
	box-sizing: border-box;
}
