html,
body {
  height: 100%;
}

ul {
  padding: 0;

  li {
    p {
      margin: 0;
    }
  }
}

code {
  border-radius: 2px;
  background: $gray;
  padding: 2px 6px;
  font-family: monospace, serif;
}

blockquote {
  border: 1px solid $gray;
  padding: 0 1rem;
}

footer {
  .row {
    padding: 3rem 0;
  }

  .icon {
    margin-right: 1.5rem;
  }
}

kbd {
  display: inline-block;
  margin: 0 2px;
  border: 1px solid #444444;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(46, 48, 49, 0.5), 0 0 0 1px $black inset, 0px 2px 0 0 rgba(255,255,255,0.05) inset;
  background: linear-gradient(#323435, #252525);
  padding: 4px 12px;
  text-rendering: geometricPrecision;
  line-height: 1;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0 0 6px rgba(168, 199, 251, .24);
  font-family: sans-serif;
}

hr {
  border: 0;
  background-color: #ccc;
  height: 1px;
}

img {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}
