@font-face {
  font-family: 'NeueHaasUnica-regular';
  src:  url('/fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NeueHaasUnica-light';
  src:  url('/fonts/NeueHaasUnicaW1G-Light.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-Light.woff') format('woff');
}


body, html {
	font-family: 'NeueHaasUnica-regular', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-weight: normal;
  font-size: 14px;
	@include mq(md) {
		  font-size: 16px;
	}
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: 'NeueHaasUnica-light', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
	font-size: 1rem;
}

.small {
  font-size: 0.75rem;
}

a {
	color: $color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #000;
  }
  &:active,&:focus {
    outline: none;
  }
}
