$max-width : 1280px;
$header-height : 4.5rem;
$color : rgba(0,0,0,0.45);
$bezier : cubic-bezier(.03,.82,.34,.99);


@mixin isometric($inverted: 'true') {

    @if $inverted == 'true' {
        transform: scaleY(0.86603) rotate(30deg) skew(-30deg) translate3d(0, 0, 0);
    }
    @else {
        transform: scaleY(0.86603) rotate(-30deg) skew(30deg) translate3d(0, 0, 0);
    }
}
