@import 'global/variables';
@import 'global/normalize';
@import 'global/animations';
@import 'global/mq';
@import 'global/type';
@import 'global/print';
@import 'global/elements';
@import 'global/highlighting.css';

@import 'components/case-top';
@import 'components/header';
@import 'components/cv';

@lost flexbox flex;
@lost gutter 40px;

.blog-wrap {
  height: 100%;
}

.blog-cases {

  article {
    padding: 2.5rem 0;

    @include mq(sm) {
      padding: 2.5rem 16% 2.5rem 0;
    }

    h2 {
      margin: 0;
      color: $black;
      word-break: break-word;
    }

    a {
      display: inline-block;
      width: 100%;
    }

    p {
      margin: 0;
    }
  }
}


.blog-sidebar {
  float: left;
  width: 100%;

  @include mq(sm) {
    width: 60%;
  }

  @include mq(md) {
    width: 40%;
  }
}

.blog-image {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background: $gray;
  width: 0%;
  height: 100%;

  @include mq(sm) {
    display: block;
    width: 40%;
  }

  @include mq(md) {
    width: 60%;
  }
}

.blog-image-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.blog-image-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s $bezier all;
  opacity: 0;
  width: 100%;
  height: 100%;

  &.loadme {
    background: $gray;

    img {
      transition: 1s $bezier all;
      opacity: 0;
    }

    &.image-loaded {
      background: transparent;

      img {
        opacity: 1;
      }
    }
  }

  &.active {
    opacity: 1;
    z-index: 1;
    img {transform: translateX(0);}
  }

  img {
    position: absolute;
    transform: translateX(16px);
    transition: 1s $bezier all;
    padding: 3rem 0 3rem 3rem;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}

.index-shape {
  position: absolute;
  bottom: 0;
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  svg {
    width: 100%;
    height: 100%;

    g {
      transition: 2s $bezier all;
    }
  }
}

.verbose-header {
  position: relative;

  .verbose-shape {
    @include isometric();
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(100px);
  }

  img {
    max-height: 20rem;
    object-fit: contain;
  }
}


.hero-devices {
  position: relative;
  transform: none;
  z-index: 1;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;

  .hero-computer {
    width: 100%;
    max-width: 90rem;

    @include mq(md) {
      transform: translateX(24%);
      width: 100vw;
    }
  }

  .hero-phone {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(40%) translateX(-100%);
    width: 20%;

    @include mq(md) {
      display: block;
    }
  }
}

.row {
  margin: 0 auto;
  width: 84%;
  max-width: $max-width;

  @include mq (md) {
    width: 92%;
  }

  &.blog {
    position: relative;
    margin-top: 0;
    margin-bottom: 8rem;
    max-width: $max-width / 2;

    @include mq (sm) {
      margin-top: $header-height;
    }

    img,
    video,
    .highlight {
      margin: 0;
      width: 100%;

      @include mq(md) {
        margin: 4rem 0 4rem -3rem;
        width: calc(100% + 6rem);
      }
    }
  }
}

.row-full {
  .tw {
    position: relative;
    top: 4rem;
    margin-top: -3rem;

    @include mq(md) {
      top: 14rem;
      margin-top: -13rem;
    }

    @include mq(lg) {
      top: 18rem;
      margin-top: -14rem;
    }
  }
}

.image-pull-left {
  position: relative;
  z-index: -1;

  .case-section-image {
    margin: 0 auto 5rem;
    width: 100%;

    img {
      margin: 0 auto;
      max-width: $max-width;

      @include mq(md) {
        transform: translateX(-16%);
      }
    }
  }
}

.image-pull-right {
  position: relative;
  z-index: -1;

  .image-component {
    margin: 0 auto 5rem;
    width: 100%;

    img {
      margin: 0 auto;
      max-width: $max-width;

      @include mq(md) {
        transform: translateX(16%);
      }
    }
  }
}

.profile-sections {
  lost-center: $max-width;
}

.profile-section {
  border-top: 1px solid $gray;
  padding: 1rem 0;
  width: 100%;

  @include mq(sm) {
    lost-column: 1/2;
  }

  @include mq(md) {
    padding: 3rem 0;
    lost-column: 1/1;
  }

  h4 {
    margin: 0;

    @include mq(md) {
      float: left;
      width: 240px;
    }
  }

  &-section {
    margin-bottom: 4rem;
  }

  ul {
    margin: 1rem 0 0;

    @include mq(md) {
      column-gap: 2rem;
      column-count: 2;
      margin: 0;
      padding-left: 2rem;
    }

    li {
      display: inline-block;
      margin: 0 0 .75rem;
      width: 100%;
      list-style: none;
      word-break: break-word;
    }
  }
}

.cta {
  display: inline-block;

  &::after {
    margin-left: .5rem;
    content: '\2192';
  }
}

.center-v {
  display: flex;
  align-items: center;
}

.ct {
  text-align: center;
}

.intro {
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;

  @include mq(sm) {
    padding: 6rem 0;
  }

  &-text {
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

.ingress-index {
  padding: 1.5rem 0 4rem;
  lost-center: $max-width;

  @include mq(lg) {
    padding: 6rem 0 12rem;
  }

  div {
    lost-column: 1/1;
    lost-move: 0;

    @include mq(md) {
      lost-column: 3/6;
      lost-move: 3/6;
    }

    @include mq(lg) {
      lost-column: 4/12 0 0;
      lost-move: 6/12;
    }
  }
}

.ingress {
  lost-column: 1/1 0;

  @include mq(md) {
    lost-column: 2/3 0;
  }
}

.tw {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;
  lost-center: $max-width / 2;
  flex-direction: column;

  @include mq(md) {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  p {
    margin: 0 0 1rem;
  }
}

.grid.half {
  lost-center: $max-width;

  > * {
    margin-bottom: 2.5rem;
    lost-column: 1/1;

    @include mq(md) {
      lost-column: 1/2;
    }
  }
}

.no-js {
  .case-section-image.loadme {
    background: transparent;

    img {
      opacity: 1;
    }
  }

  .loadme img {
    opacity: 1;
  }
}

.is-broken {
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 200px;
    content: 'Image broken 🙈';
  }

  img {
    visibility: hidden;
  }
}

.case-section-image.loadme {
  background: $gray;

  img {
    transition: 1s $bezier all;
    opacity: 0;
  }

  .tw {
    @include mq(md) {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }
  }

  &.image-loaded {
    background: transparent;

    img {
      opacity: 1;
    }
  }
}

.case-section {
  position: relative;
  margin-bottom: 2rem;
  padding: 0;
  lost-center: $max-width;

  @include mq(md) {
    padding: 0 5vw;
  }

  .case-section-image {
    margin-bottom: 5vw;
    width: 100%;

    img {
      filter: drop-shadow(20px 30px 30px $gray);
    }
  }
}

.case-image {
  position: relative;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.caption {
  position: absolute;
  right: 32px;
  bottom: 12px;
  left: 32px;
}

.sq {
  position: relative;
  padding-bottom: 100%;
}

.case-content {
  position: absolute;
  padding: 10%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cases {
  lost-center: $max-width;

  .case-image-wrapper {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  .loadme {
    img {
      transform: translateY(-32px);
      transition: 1s $bezier all;
      opacity: 0;
    }

    &.image-loaded {
      img {
        transform: none;
        opacity: 1;
      }
    }
  }

  .case {
    position: relative;
    margin-bottom: 3rem;
    color: $black;
    lost-column: 12/12;

    @include mq(sm) {
      lost-column: 1/2;

      &.husqvarna {

        .case-bg {
          padding-bottom: 140%;
        }
      }
    }

    @include mq(lg) {
      lost-column: 3/12 0;

      &.thepoetryhour {
        top: -16rem;
        lost-column: 6/12 0;
      }

      &.heyplace {
        top: -14rem;
        lost-column: 4/12 0;
        lost-move: 2/12;
        .case-image-wrapper {
          overflow: hidden;
        }
        img {
          margin-top: 2rem;
        }
      }

      &.volvo {
        top: 6rem;
        lost-column: 3/12 1;
      }

      &.husqvarna {
        .case-bg {
          padding-bottom: 200%;
        }
      }
    }

    h2 {
      display: inline-block;
      position: relative;
      z-index: 1;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
      word-break: break-word;
    }

    &.thepoetryhour {
      img {
        margin-top: -2rem;
      }
    }

    &:hover {
      img {
        transform: translateY(-8px);
      }
    }

    &:focus {
      img {
        transform: translateY(-8px);
      }
    }
  }

  .case-bg {
    position: relative;
    padding-bottom: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: contain;
    }
  }
}

.case-footer {
  display: inline-block;
  transition: 2s $bezier all;
  padding: 2rem 0;
  width: 100%;

  h4 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  .small {
    margin-top: 0;
  }
}

.case-footer-content {
  padding: 2rem 0;
  lost-center: $max-width;

  @include mq(md) {
    justify-content: center;
  }

  &-item {
    margin-bottom: 2rem;
    lost-column: 1/2;

    @include mq(md) {
      lost-column: 1/4;
    }

    img {
      max-height: 110px;
      object-fit: contain;
    }

    h2 {
      font-size: 1rem;

      @include mq(md) {
        font-size: 1.5rem;
      }
    }

    &:only-child {
      margin: auto;
    }
  }
}



#main {
  display: flex;
  margin-top: $header-height();
  height: 100vh;
  flex-direction: column;

  @include mq(md) {
    margin-top: 0;
  }

  .main-wrapper {
    position: relative;
    flex: 1 0 auto;

    &.case {
      overflow-x: hidden;
    }
  }
}

.case-shape {
  @include isometric();
  position: absolute;
  z-index: -1;
  margin-top: -10rem;
  width: 100%;
  height: 880px;
  filter: blur(100px);

  @include mq(md) {
    margin-top: 4rem;
  }

}

.icon {
  svg {
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
    fill: $color;
  }

  p {
    display: inline-block;
    padding-left: .25rem;
    vertical-align: middle;
  }

  &:hover {
    svg {
      color: $black;
      fill: $black;
    }
  }
}

.highlight {
  display: inline-block;
  padding: 2rem;
  width: 100%;
  overflow: auto;
  text-rendering: geometricPrecision;
  code {
    background: transparent;
    padding: 0;
    white-space: pre;
  }
}
