@import 'global/_variables.scss';
@import 'global/_normalize.scss';
@import 'global/_animations.scss';
@import 'global/_mq.scss';
@import 'global/_type.scss';


@import 'components/_case-top.scss';
@import 'components/_header.scss';

@lost flexbox flex;

.hero-devices {
	overflow: hidden;
	z-index: 1;
	position: relative;
	width: 100%;
	transition: 200ms ease-out transform;
	transform: translateY(-28%);
	@include mq(sm) {
		transform: translateY(-16%);
	}
  .hero-computer {
		width: 90vw;
		@include mq(md) {
  		transform: translateX(24%);
		}
	}
  .hero-phone {
    position: absolute;
    width: 20%;
    transform: translateY(20%) translateX(-100%);
    top: 0px;
		left: 0px;
		display:none;
		@include mq(md) {
			display: block;
		}
	}
}


.row {
	max-width: $max-width;
  margin: 0 auto;
  width: 92%;
}

.row.blog {
	max-width: $max-width / 2;
}

.profile-sections {
	lost-center:$max-width;
}
.profile-section {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding:1rem 0;
	@include mq(sm) {
		lost-column: 1/2;
	}
	@include mq(md) {
		padding:3rem 0;
		lost-column: 1/1;
	}
	h4 {
		margin: 0;
		@include mq(md) {
			float: left;
			width: 240px;
		}
	}
	&-section {
		margin-bottom: 4rem;
	}
	ul {
		margin: 1rem 0 0 0 ;
		padding: 0;
		@include mq(md) {
			column-count: 2;
			column-gap: 2rem;
			padding-left: 2rem;
			margin: 0;
		}
		li {
		  display: inline-block;
	    word-break: break-word;
		  list-style: none;
		  width: 100%;
			margin: 0 0 0.75rem 0;
			p {
				margin: 0;
			}
		}
	}
}

a.cta {
	display: inline-block;
	&:hover {
		border-color: #000;
	}
	&:after {
    content:'\2192';
		margin-left: 0.5rem;
	}
}

.center-v {
	display: flex;
	align-items: center;
}
.ct {
	text-align: center;
}

.intro {
	padding: 1.5rem 0;
	overflow: hidden;
	position: relative;
	&-text {
			margin: 0 auto;
			padding: 0 1.5rem;
	}
	@include mq(md) {
		padding: 6rem 0;
	}
}

.ingress {
	h3 {
		font-size: 1.5rem;
		margin-top:0;
	}
	lost-column: 1/1 0;
	@include mq(md) {
		lost-column: 2/3 0;
		h3 {
		  font-size: 1.75rem;
		}
	}
}

.tw {
	lost-center: $max-width / 2;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 6rem;
  padding: 0 1rem;
	p {
		margin: 0 0 1rem 0;
	}
}

.ingress-centered{
	@include mq(md) {
		lost-column: 8/12;
	}
}

.grid.half {
	lost-center: $max-width;
	& > * {
		margin-bottom: 2rem;
		lost-column: 1/1;
		@include mq(md) {
			lost-column: 1/2;
		}
	}
}

.cases img.loadme, .hero-devices img.loadme{
	opacity: 0;
	transition: all .2s ease-in;
	&.image-loaded {
			opacity: 1;
	}
}

.case-section {
	lost-center: $max-width;
	padding: 5%;
	margin-bottom: 2rem;
	.case-section-image {
		width: 100%;
	}
}

.case-image {
	position: relative;
	text-align: center;
	img {
		object-fit: contain;
		height: 100%;
	}
}
.sq {
	padding-bottom: 100%;
	position: relative;
}
.case-content {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	padding: 10%;
}

.case-module {
}

.cases {
	lost-center: $max-width;
	.case {
		lost-column: 1/1 1;
		margin-bottom: 2rem;
		h3{
			margin: 0rem;
			top: 16px;
			position: relative;
		}
		@include mq(md) {
			lost-column: 1/2 2;
		}
	}
}


.next-prev {
	margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
	@include mq(sm) {
		justify-content: space-between;
	  flex-direction: row;
	}
	.next, .prev {
		flex: 1;
		padding: 10%;
		p {
			margin: 0;
		}
		h3 {
			margin:0;
		}
		@include mq(sm) {
			padding: 2rem;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}
svg {
	width: 100%;
}
sup {
  font-size: 0.75rem;
	margin-left:0.25rem;
}

img {
	width: 100%;
	display: block;
}

body {
	margin: $header-height 0 0 0;
}

* {
	box-sizing: border-box;
}
