@import 'global/_variables.scss';
@import 'global/_normalize.scss';
@import 'global/_animations.scss';
@import 'global/_mq.scss';
@import 'global/_type.scss';


@import 'components/_case-top.scss';
@import 'components/_header.scss';

@lost flexbox flex;

.hero-devices {
	overflow: hidden;
	z-index: 1;
	position: relative;
	width: 100%;
	transform: translateY(-15%);
  .hero-computer {
		width: 90vw;
		@include mq(md) {
  		transform: translateX(24%);
		}
	}
  .hero-phone {
    position: absolute;
    width: 20%;
    transform: translateY(20%) translateX(-100%);
    top: 0px;
		left: 0px;
		display:none;
		@include mq(md) {
			display: block;
		}
	}
}


.row {
	max-width: $max-width;
  margin: 0 auto;
  width: 92%;
}

.profile-section {
	border-top: 1px solid rgba(0,0,0,0.1);
	padding:3rem 0;
	h4 {
		margin: 0;
		float: left;
		width: 240px;
	}
	&-section {
		margin-bottom: 4rem;
	}
	ul {
		column-count: 2;
		column-gap: 2rem;
		padding-left: 2rem;
		margin: 0;
		li {
		  display: inline-block;
	    word-break: break-word;
		  list-style: none;
		  width: 100%;
			margin: 0 0 0.75rem 0;
			p {
				margin: 0;
			}
		}
	}
}

a.cta {
	display: inline-block;
	&:hover {
		border-color: #000;
	}
	&:after {
    content:'\2192';
		margin-left: 0.5rem;
	}
}

.center-v {
	display: flex;
	align-items: center;
}
.ct {
	text-align: center;
}

.intro {
	padding: 1.5rem 0;
	overflow: hidden;
	position: relative;
	&-text {
			margin: 0 auto;
			padding: 0 1.5rem;
	}
	@include mq(md) {
		padding: 3rem 0;
	}
}

.ingress {
	h3 {
		font-size: 1.5rem;
		margin-top:0;
	}
	lost-column: 1/1;
	@include mq(md) {
		lost-column: 2/3;
		h3 {
		  font-size: 1.75rem;
		}
	}
}
.ingress-centered{
	@include mq(md) {
		lost-column: 6/12;
		lost-move: 3/12;
	}
}

.grid.half {
	lost-center: $max-width;
	& > * {
		lost-waffle: 1/2;
	}
}

.grid {
	margin-bottom: 2rem;
}

.cases img, .hero-devices img{
	opacity: 0;
	transition: all .2s ease-in;
	&.image-loaded {
			opacity: 1;
	}
}

.case-section {
	lost-center: $max-width;
	padding: 5%;
	.case-section-image {
		lost-waffle: 8/12;
	}
	.case-section-copy {
		padding-left: 2rem;
		lost-waffle: 4/12;
	}
	h3 {
		margin: 0;
	}
}

.case-image {
	position: relative;
	text-align: center;
	img {
		object-fit: contain;
		height: 100%;
	}
}
.sq {
	padding-bottom: 100%;
	position: relative;
}
.case-content {
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 10%;
}

.cases {
	lost-center: $max-width;
	.case {
		lost-column: 1/1;
		margin-bottom: 2rem;
		h3{
			margin: 0rem;
			top: 16px;
			position: relative;
		}
		@include mq(md) {
			lost-column: 1/2;
		}
	}
}



.next-prev {
	margin-bottom: 5rem;
	display: flex;
	justify-content: space-between;
	.next, .prev {
		flex: 1;
		padding: 2rem;
		p {
			margin: 0;
		}
		h3 {
			margin:0;
		}
	}
}

sup {
  font-size: 0.75rem;
	margin-left:0.25rem;
	font-family: 'NeueHaasUnica-regular';
}

img {
	width: 100%;
	display: block;
}

body {
	margin: $header-height 0 0 0;
}

* {
	box-sizing: border-box;
}
