= partial 'partials/head'
#main
  %div.scene{:class => page_classes}
    = partial 'partials/header'
    .back
      .row
        %a{:href => "/"} back
    .scene_element.scene_element--fadeinup
      = yield
