= partial 'partials/head'
#main.scene
  %div{:class => 'main-wrapper ' + page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeIn
      = yield
  = partial 'partials/footer'
