= partial 'partials/head'
#barba-wrapper
  .barba-container{:class => page_classes, :'data-namespace' => 'homepage'}
    = partial 'partials/header'
    .scene_element.scene_element--fadeIn
      = yield
= partial 'partials/footer'
