.row
  .case-top-wrapper
    .case-top-content.scene_element.scene_element--fadeInDownDelay
      %span
        = locals[:year]
      %h1
        = locals[:h1]

      .case-meta
        .case-tags
          %ul
            %p Tags
            %span= current_page.data.tags.to_sentence(last_word_connector: ' and ')
        .case-role
          %ul
            %p Roles
            %span= current_page.data.role.to_sentence(last_word_connector: ' and ')
    .case-top-background{ :style => 'background-color:' + locals[:color] + ';' + 'color:' + locals[:fontcolor], }
