.row
  .case-top-wrapper
    .case-top-content.scene_element.scene_element--fadeInDownDelay
      %h1
        = locals[:h1]
        %sup= locals[:year]
      .case-meta
        .case-tags
          %ul
            %p Tags
            - current_page.data.tags.each do |f|
              %li
                %p= f
        .case-role
          %ul
            %p Roles
            - current_page.data.role.each do |f|
              %li
                %p= f
    .case-top-background{ :style => 'background-color:' + locals[:color] + ';' + 'color:' + locals[:fontcolor], }
