.case-footer.ct{:style => 'background:' + current_article.data.color}
  :markdown
    #### Discover more cases
  .case-footer-content.row
    - blog('case').articles[0...4].delete_if{|item| item == current_article}.reverse.each do |article|
      %a.case-footer-content-item{:href => article.url, :'data-color' => article.data.color}
        .loadme
          %img{:src => article.data.image}
        %h2
          = article.title
        %p.small
          = article.data.description
