%footer
  .row.center-v
    %a{:href => "http://dribbble.com/grazsebastian", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'dribbble', :label => ''})
    %a{:href => "https://twitter.com/grazsebastian", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'twitter', :label => ''})
    %a{:href => "http://vsco.co/sgraz/images/1", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'vsco', :label => ''})
