%header
  .row.center-v
    %ul
      %li{ nav_active('index.html') }
        %a{:href => "/"} Work
      %li{ nav_active('profile.html') }
        %a{:href => "/profile"} Profile
    %a#logo(href='/')
      %img(src='/images/logo.svg')
