%svg{:height => "68", :viewbox => "0 0 64 68", :width => "64", :xmlns => "http://www.w3.org/2000/svg"}
  %title Slice 1
  %path{:d => "M59.667 18.168l-28-15.498-28 15.498v15.499l28 15.497 14-7.748-28-15.498 14-7.75 28 15.499v15.497l-28 15.499-28-15.499", :fill => "none", "fill-rule" => "evenodd", :stroke => "#000", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "3"}
