.cv {
	.row {
		position: relative;
	}
	em {
		font-style: normal;
		border-bottom: 1px solid #ccc;

	}
	h4 {
		text-transform: uppercase;
		font-family: 'NeueHaasUnica-medium', sans-serif;
		letter-spacing: 2px;
		font-size: 8pt;
	}
	ul {
		padding: 0;
		list-style: inside;
		li {
			list-style: none;
			margin-bottom: 1rem;
		}
	}
	&-wrapper {
		lost-center: $max-width;
		margin-top: 4rem;
	}
	&-logo {
		position: absolute;
		top: 0.5cm;
		right: 0;
		svg {
			height: 0.5cm;
		}
	}
	h2 {margin-bottom:0;}
	h4 {margin-top:0;}
	&-main {
		lost-column: 2/3 3 60px;
		.cv-row {
			padding-bottom:0.25cm;
			h4 {
				float: left;
				margin: 0;
				max-width: 120px;
			}
			p {

				margin: 0 0 24px 120px;
			}
		}
	}
	&-side {
		lost-column: 1/3 3 60px;
		h4 {
			margin-top: 3rem;
			&:first-child {
				margin-top:0;
			}
		}
	}
}
