header {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: $header-height;
	background:#fff;
	z-index: 2;
	.row {
		height: $header-height;
		justify-content: space-between;
	}
	h4 {
		display: inline-block;
	}
	#logo {
		display: inline-block;
    max-width: 32px;
		&.is-loading {
	    -webkit-animation: logoIsLoading 2s ease-out;
	    -webkit-animation-iteration-count: infinite;
		}
	}
	ul {
		padding: 0;
		li {

			float: left;
			list-style: none;
			&.active {
				a {
					color: #000;
				}
			}
			a {
				margin-left: 24px;
				@include mq(sm) {
					margin-left: 40px;
				}
			}
			&:first-child {
				a {
					margin-left: 0;
				}
			}
		}
	}
}
