.grid.case-section{ :style => 'background-color:' + locals[:color] }
  .case-section-image
    %image{:src => "#{locals[:image]}"}
  .case-section-copy
    %h3= locals[:captionTitle]
    %p= locals[:caption]
