---
title: Husqvarna
date: 2016-07-12 20:15 UTC
year: 2016
color: '#0f0'
tags:
- rocks
- wheel
- 30 inch wooden rims
role:
- web designer
- art direction
- front end
image: images/husqvarna/husqvarna.png
---

= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color })
