---
title: The Poetry Hour
date: 2016-06-22 20:07 UTC
year: 2016
color: '#f4ede2'
tags:
- 'Minimalism'
- 'Client'
- 'CMS'
role:
- 'Front End'
- 'Art Direction'
- 'UX'
image: images/thepoetryhour/poetry.png
---



= partial(:'partials/_case-meta', :locals => {:h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color })

.row
  .hero-computer

  .intro.ingress
    %div
      %h3 Revive Poetry
      %h4 Mission briefing. Create a poetry platform for a wider audience
      %p= lorem.paragraphs 1



.row
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> lorem.image('800x600'), :caption=> 'For a font to be truly beautiful you need to display it in its native size. Or just display it for the', :captionTitle=>"Title", :color=> current_page.data.color})
  = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> lorem.image('800x800'), :imageSecond=>"/images/thepoetryhour/mobile-homepage.png", :captionFirst=>"Caption first", :captionSecond=>"Caption second", :color=> current_page.data.color})
