---
title: Logotypes
description: Collection of logotypes throughout my career
date: 2016-07-24 21:33 UTC
year: 2012-2016
color: '#eee'
fontcolor: '#000'
tags:
- Personal
role:
- Designer
image: '/images/logotypes/case-logotypes.png'
---


= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year, :fontcolor=> current_page.data.fontcolor, :color=> current_page.data.color })
