---
title: The Poetry Hour
date: 2016-06-22 20:07 UTC
year: 2016
color: '#f4ede2'
tags:
- 'Minimalism'
- 'Client'
- 'CMS'
role:
- 'Front End'
- 'Art Direction'
- 'UX'
image: images/thepoetryhour/poetry.png
---



= partial(:'partials/_case-meta', :locals => {:h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color })

.row
  .hero-computer

  %h3 Revive Poetry
  %h4 Mission briefing. Create a poetry platform for a wider audience
  %p= lorem.paragraphs 1

  %img{:src=> lorem.image('800x600', :text => 'Image')}

.row
  = partial(:'partials/_image', :locals => {:name=>"Sylvia Piace", :image=>"/images/delhaize/delhaize.png"})
