---
title: Volvo
date: 2016-06-22 20:07 UTC
year: 2016
tags:
- rocks
- wheel
- 30 inch wooden rims
role:
- web designer
- art direction
- front end
image: images/volvo/volvo.png
---

= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year })


#my
  %p A Box

.row
  = partial(:'partials/_image', :locals => {:name=>"Sylvia Piace", :image=>"/images/delhaize/delhaize.png"})
