---
title: Volvo
date: 2016-06-22 20:07 UTC
tags:
image: images/volvo/volvo.png
---
%h3 Volvo

%p= current_page.data.image

= partial(:'partials/_image', :locals => {:name=>"Sylvia Piace", :image=>"/images/delhaize/delhaize.png"})
