---
title: Volvo
description: Art direction for a Volvo pitch
date: 2016-07-12 20:20 UTC
year: 2014
color: '#dcecff'
fontcolor: '#000'
tags:
- Pitch
- Web design
role:
- Lead designer
image: '/images/volvo/case-volvo.png'
---

= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color, :fontcolor=> current_page.data.fontcolor })
.hero-devices
  .hero-device-wrapper.row
    .hero-computer
      .case-section-image.loadme
        %img(src='/images/volvo/macbook.png')
      .hero-phone
        .case-section-image.loadme
          %img(src='/images/volvo/wheel.png')

.row
  .case-section
    .tw
      :markdown
        ### Volvo heading towards adulthood

        #### We created a vision for Volvo's new direction
        The core values for Volvo Cars is simplicity, functionality and durability. Volvos Scandinavian heritage is an integral part of the brand and we wanted to create a website which mirrors all these values through an modern and aesthetic web experience.

        Volvos own mission is to be the world’s most progressive and desired luxury car brand. So we created a concept design that puts Volvo Cars in that position.

  .case-section
    .case-shape{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ## Home

        A simple grid of Volvos range of cars presented in a aesthetic way
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/volvo/homepage.jpg'})

  .case-section
    .tw
      :markdown
        ## Iconography

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/volvo/iconography.png'})

  .case-section
    .case-shape{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ## Car configurator

        The website, fully responsive is packed with bits of configurators that the user can interact with, such as changing the paint, rims, interior upholstery, entertainment systems, and engine specifications on the go as the user is scrolling down the module-based design.

        The modular design allows the site to guide the user and create their car of their dreams, without thinking too much.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/volvo/volvo-configurator.jpg'})
  .case-section
    .tw
      :markdown
        ## Closing thoughts
        The pitch-work we did for Volvo never made it through concept stage, but it started a lot of conversations on what a car brand's web experience could be in the future – we certainly learned a lot during the creation of this design, certainly about pushing boundaries and creating something exciting and bold.

        Even if these synonyms should rarely be associated with a car brand whose main catalyst is safety, it was a fun exercise regardless.
