---
layout: cv-layout
title: Curriculum Vitae
---

.row
  :markdown
    ## Sebastian Graz
    #### Senior UI Designer
  .cv-logo
    = partial 'partials/logo'
  .cv-wrapper
    .cv-main
      .cv-row
        :markdown
          #### Profile

          I'm a independent design professional who creates both interactive and
          visual experiences. I have over 5 years of design experience in the
          industry.During this time I have designed and managed projects both
          complex and small.
          ​​​
          ​          ​
      :markdown
        #### Experience
          ---
          ​
      .cv-row
        :markdown

          #### This Place — 2016-2014

          Hired as a Senior User Experience Designer I was responsible for the UX
          and UI for various projects which included massive E-Commerce replatforming,
          website redesigns and branding in close collaboration with the clients
          and the end-users.

          I was involved in conducting qualitative user testing sessions in which
          the test results were documented and collaborated with the client. The
          user testing was based on the rapid prototyping projects that I helped
          develop

          I was also involved in production ready front-end development for a
          major website redesign, this included: CSS-architechture, markup
          structure and Javascript interactions.

      .cv-row
        :markdown
          #### DigitasLBi — 2011-2014

          I was hired as a full-time designer at DigitalLBi Sweden, where I
          designing interfaces and websites for various clients such as:
          Volvo Cars, Volvo Trucks, Volvo Penta, Husqvarna, Tena, Ascom,
          Majblomman and JKL

          During my time at Digitas LBi I had the opportunity to part of the
          pitch team and lead the design direction for Volvo Cars website, Volvo
          Trucks and Husqvarna. The results of winning Husqvarna as a client lead
          to multi-million deal increasing the revenue for DigitasLBi significantly

      .cv-row
        :markdown
          #### LBi Denmark — 2012 Jan-Feb

          During my internship at DigitasLBi I was given the chance to go to
          DigitasLBi offices in Copenhagen to help design assets for the new
          We Are Maersk website. This included iconography, typography and
          general graphics to be used in the final design.


    .cv-side
      :markdown
        #### Portfolio

        - graz.io

        #### Contact

        - graz@live.se
        - (+44) 07479 393352

        #### Recognition

        - SiteInspire - Featured Portfolio - 2014
        - CSS Awards - Featured Portfolio - 2014
        - DESIGN MADE IN GERMANY - Featured Portfolio - 2015
        - Mindsparklemag - Featured Portfolio - 2014
        - FWA - Maersk - Site of the Day - 2013

        #### Languages

        - English - Professional proficiency
        - Swedish - Native proficiency
        - Polish - Professional proficiency

        #### Education

        - University West, 2009-2011 —
          Bachelor of Science w/ major in Informatics.
