---
layout: cv-layout
title: Curriculum Vitae
---

.row
  :markdown
    ## Sebastian Graz
    #### Senior UI Designer
  .cv-wrapper
    .cv-main
      .cv-row
        :markdown
          #### About

          Designer and developer with 5 years of experience.
          My main jam is prototyping, iterative design methodologies and brand identities.
          I have been involved in many challenging projects ranging from small personal
          projects to extensive 100-page e-commerce projects. I also dabble in animated
          videos, 3D imagery, audio production and some other bits and bobs
      .cv-row
        :markdown
          #### About

          Designer and developer with 5 years of experience.
          My main jam is prototyping, iterative design methodologies and brand identities.
          I have been involved in many challenging projects ranging from small personal
          projects to extensive 100-page e-commerce projects. I also dabble in animated
          videos, 3D imagery, audio production and some other bits and bobs
    .cv-side
      .cv-row
        test
