---
title: Sebastian Grąz
---
.row
  .scene_element.scene_element--fadeInDown{:class => page_classes}
    .intro.ingress
      %h3
        Sebastian Graz &mdash; interaction designer and a front-end developer based in London &#9748;
      %a.cta(href='/profile') Read full profile
    -#
    -# - blog('case').articles[0...5].each do |article|
    -#   %a{:href => article.url}= article.title
    -#   %img{:src => article.data.image}



  %h4.ct Selected works
  .cases
    - blog('case').articles.reverse.each do |article|
      %a.case{:href => article.url, :class => article.title.delete(' ').downcase}
        .case-bg.loadme{:style => 'background-color:' + article.data.color}
          %img{:src => article.data.image}
        %h4
          = article.title
        %p.small
          = article.data.description
