---
title: Sebastian Graz
---

%div.scene_element.scene_element--fadeInDownDelay{:class => page_classes}
  .intro.ingress
    %h3 My name is Sebastian Graz. I am a designer and a front-end developer based in London &#9748;
    %a.cta(href='/profile') Read full profile
  -#
  -# - blog('case').articles[0...5].each do |article|
  -#   %a{:href => article.url}= article.title
  -#   %img{:src => article.data.image}



%h4.ct Selected works
.cases
  - blog('case').articles[0...5].reverse.each do |article|
    %a.case{:href => article.url}
      %img{:src => article.data.image}
      %h3
        = article.title
        %sup 2016
      %p Poetry portal web project
