---
title: Profile
---

.intro.ingress.scene_element.scene_element--fadeInDownDelay
  %h3
    Designer and front-end developer with 5 years experience in the industry. I have a strong fondness to prototype everything, complemented with the belief of iterational design process.
    My experience gamuts from minimalism to extensive e-commerce projects, I have dabbled with animated videos, 3D as well as audio production.
    My current focus includes identities and creative direction with a side of web development. Yum. 	🌶
  %a.cta(href='mailto:hi@sebastiangraz.com?subject=Contact enquiry') Contact me
.profile-sections
  .profile-section
    %h4 Clients
    %ul
      %li
        %p Volvo Cars, Trucks, Penta
      %li
        %p Husqvarna
      %li
        %p MC Saatchi
      %li
        %p Tena
      %li
        %p SKF
      %li
        %p Maersk
      %li
        %p Majblomman
      %li
        %p Delhaize
      %li
        %p Positive Luxury
      %li
        %p Various freelance clients
  .profile-section
    %h4 Awards & Recognitions
    %ul
      %li
        %p
          SiteInspire - Featured Portfolio
          %sup 2014
      %li
        %p
          CSS Awards - Featured Portfolio
          %sup 2014
      %li
        %p
          DESIGN MADE IN GERMANY - Featured Portfolio
          %sup 2015
      %li
        %p
          Mindsparklemag - Featured Portfolio
          %sup 2014
      %li
        %p
          FWA - Maersk - Site of the Day
          %sup 2013
  .profile-section
    %h4 Experience
    %ul
      %li
        %p
          This Place
          %sup 2014-2016
      %li
        %p
          DigitasLBi
          %sup 2011-2014
      %li
        %p
          University West Bachelor in Media
          %sup 2011-2012
  .profile-section
    %h4 What I'm all about
    %ul
      %li
        %p Concept & Strategy
      %li
        %p User Testing
      %li
        %p Front-end development
      %li
        %p Design production/direction
      %li
        %p Wireframing & Prototyping
      %li
        %p Video Production
      %li
        %p 3D Production
      %li
        %p Typeface design
      %li
        %p Editorial design
      %li
        %p Branding
      %li
        %p Managing design teams
  .profile-section
    %h4 Languages
    %ul
      %li
        %p English  Professional proficiency
      %li
        %p Swedish  Native
      %li
        %p Polish  Native
  .profile-section
    %h4 Web presence
    %ul
      %li
        %a{:href => 'http://twitter.com/grazsebastian', :target => '_blank'} Twitter
      %li
        %a VSCO
      %li
        %a Email
