---
title: Verbose
---
.scene_element
  .blog-wrap
    .row
      .blog-sidebar
        .blog-cases.scene_element.scene_element--fadeInDown
          - blog('verbose').articles.each do |article|
            .blog-case
              %h3
                %a{:href => article.url, :'data-id' => 'item' + article.data.id}
                  = article.title
                - time = article.date
                %sup= time.strftime("%b #{time.day.ordinalize}")
    .blog-image
      .blog-image-wrapper
        - blog('verbose').articles.each_with_index do |article, index|
          .blog-image-container{:class => "#{ "active" if index == 0 }" + ' item' + article.data.id, :style => 'background-image:' + 'url(' + article.data.image + ');' + 'background-color:' + article.data.color }
