---
title: Verbose
---
.scene_element
  .blog-wrap
    .row
      .blog-sidebar
        .blog-cases.scene_element.scene_element--fadeInDown
          - blog('verbose').articles.each do |article|
            .blog-case
              %h3
                %a{:href => article.url, :'data-id' => 'item' + article.data.id}
                  - time = article.date
                  %p.small= time.strftime("%b #{time.day.ordinalize}")
                  = article.title

    .blog-image
      .blog-image-wrapper
        - blog('verbose').articles.each_with_index do |article, index|
          .blog-image-container.scene_element.scene_element--blog.loadme{:class => "#{ "active" if index == 0 }" + ' item' + article.data.id, :style => 'background-color:' + article.data.color }
            %img{:src => article.data.image}
