---
title: Verbose
---
.row.blog
  .scene_element.scene_element--fadeInDownDelay
    .intro.ingress
      %h3 Verbose is a section where I will blog about design and development
    .blog-cases
      - blog('verbose').articles[0...5].each do |article|
        .blog-case{:href => article.url}
          %h3
            = article.title
          %p= article.date.strftime('%Y-%m-%d')
          %p= article.summary(500)
          %a= link_to 'Read more &rarr;', article.url
